CSS
body{
    background-color: beige;
}

.mean{
    padding-left: 40px;
}

h1{
    font-size: 80px;
    color: rgb(145, 90, 9);
}
@media(max-width:1000px){
    h1{
        font-size: 50px;

    }
}
@media (max-width:720px) {
    h1{
        font-size: 30px;
    }
}
h5{
    font-size: 25px;
}

@media(max-width:1000px){
    h5{
        font-size: 12px;

    }
}
@media (max-width:720px) {
    h5{
        font-size: 10px;
    }
}
    .next{
      width: 350px;
    position: absolute;
    left: -250px;
    top: 150px;
    
    }
    @media (max-width:1000px){
        .next{
            width: 120px;
              position: absolute;
            left: -550px;
             top: 250px;
        }

    }
    @media(max-width:700px){
        .next{
            width: 50px;
              position: relative;
              left: -100px;
            top: 150px;
            margin-left: 70px;
            margin-top: 40px;
        }
    }
    .set{
        width: 500px;
        display: block;
        
        
    }
     @media (max-width:1000px){
        .set{
            width: 250px;
            display: block;
        }

    }
    @media(max-width:720px){
        .set{
            width: 150px;
            display: block;
        }
    }
    .let{
        display: flex;
    }
    .swap{
        position: relative;
        width: 300px;
        margin-left: 200px;
        margin-top: 60px;
    }
    @media(max-width:1000px){
        .swap{
            position: relative;
        width: 150px;
        margin-left: 100px;
        margin-top: 40px;
        }
    }

        @media(max-width:720px){
         .swap{
            position: relative;
        width: 100px;
        margin-left: 80px;
        margin-top: 20px;
         }
        }
    
    .seat{
        border: 2px solid;
        border-style: outset;
        background-color: blanchedalmond;
        color: black;
        border-radius: 20px;
        padding: 10px;
        width: 200px;
    }

    .seat:hover{
        background-color: blue;
        color: white;
        transition: 0.5s;
    }
    .slit{
        font-size: 50px;
        text-align: center;
        border: 2px solid;
        background-color: white;
        border-style: none;
         margin-left: -1%;
        margin-right: -1%;
        margin-top: 20px;
        padding-top: 20px;
    }

    @media(max-width:1000px){
        .slit{
            font-size: 30px;
            text-align: center;
            border: 2px solid;
            background-color: white;
            border-style: none;
            margin-right: -1%;
            margin-left: -1%;
        }
    }

    @media(max-width:700px){
        .slit{
            font-size: 20px;
            text-align: center;
            border: 2px solid;
            background-color: white;
            border-style: none;
            margin-right: -1%;
            margin-left: -1%;
            margin-bottom: 50px;
            padding-top: 40px;
        }
    }

    .slim{
        width: 300px;
        margin-left: 40%;
    }
    .slim:hover{
        width: 30%;
        margin-left: 40%;
        transition: 5s;
        cursor: progress;
    }
@media(max-width:100px){
    .slim{
         width: 200px;
        margin-left: 30%;
    }
}
@media(max-width:700px){
    .slim{
         width: 40%;
        margin-left: 30%;
    }
}



    .hash{
        background-color: white;
    }
    @media(max-width:100px){
        .hash{
            background-color: white;
        }
    }
    @media(max-width:700px){
       .hash{ background-color: white;
    }
}
.smoove{
    width: 200px;
    margin-left: 25px;
    margin-top: 10px;
}

 @media(max-width:1000px){
    .smoove{
        width: 150px;
        margin-left: 20px;
        margin-top: 8px;
    }
 }
 @media(max-width:700px){
    .smoove{
        width: 100px;
        margin-left: 15px;
        margin-top: 6px;
    }
 }



.tin{
  text-align: center;  
}
@media(max-width:100px){
    .tin{
        font-size: 50px;
        text-align: center;
    }
}

@media(max-width:700px){
    .tin{
        font-size: 20px;
        text-align: center;
    }
}



.smooth{
    border: 2px solid;
    width: 250px;
    border-style: outset;
    background-color: white;
}

@media(max-width:1000px){
    .smooth{
        width: 250px;
    }
    
}
@media(max-width:700px){
    .smooth{
        width: 250px;
    }
    
}



.small{
    border-style: none;
    background-color: none;
    width: 100px;
}
.small:hover{
background-color: blue;
color: white;
   cursor: progress;
}

.smith{
    width: 100px;
    border-style: none;
    background-color: blue;
color: white;
}

.area{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-left: 300px;
    
    

}
@media(max-width:100px){
    .area{
        display: flex;
        margin-top: 25px;
        gap: 15px;
        margin-left:150px ;
    }
    
}

@media(max-width:700px){
    .area{
        display: flex;
        margin-top: 20px;
        gap: 10px;
        margin-left:20px ;
    }
    
}






.skin{
    text-align: center;
    padding-top: 40px;
}
 @media(max-width:1000px){
    .skin{
        text-align: center;
        padding: 30px;
    }
 }

 @media(max-width:700px){
    .skin{
        text-align: center;
        padding: 20px;
    }
 }

 @media(max-width:1000px){
    .skin h2{
        font-size: 40px;
    }
 }

 @media(max-width:700px){
    .skin h2{
        font-size: 20px;
    }
 }

.skin h4{
    font-size: 10px;
}
@media(max-width:1000px){
    .skin h4{
        font-size: 8px;
    }
}

@media(max-width:700px){
    .skin h4{
        font-size: 6px;
    }
}



.clock{
    width: 200px;
    height: 200px;
    border-radius:50%;
    gap: 15px;

    
}

@media(max-width:1000px){
    .clock{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        gap: 7px;
    }
}

@media(max-width:700px){
    .clock{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        gap: 5px;
    }
}






.clock:hover{
    filter: brightness(50%);
}

.trust{
    margin: 15px;
    margin-left: 45px;
    
}
.close{
    background-color: blanchedalmond;
    margin-top: 30px;
    margin-bottom: -50px;
    margin-left: -1%;
    margin-right: -1%;
}

@media(max-width:1000px){
    .close{
    background-color: blanchedalmond;
    margin-top: 30px;
    margin-bottom: -50px;
    margin-left: -1%;
    margin-right: -1%;
}
    
}


@media(max-width:700px){
    .close{
    background-color: blanchedalmond;
    margin-top: 30px;
    margin-bottom: -50px;
    margin-left: -1%;
    margin-right: -1%;
}
}
