li{
    display: flex;
    padding-left: 400px;
    
}

ul{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 80px;
}
ul:hover{
    text-decoration: underline;
    transition: 5s;
    color: white;
    cursor: progress;
}

h1{
    font-size: 30px;
    color: blanchedalmond;
    padding-left: 20px;
}
h1:hover{
    color: white;
    cursor: progress;
    transition: 5s;
    font-size: 40px;
}
.tenth h1:hover{
    transition: 5s;
}
.tenth{
    display: flex;
    background-color: rgb(115, 115, 212);
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    
}
#but{
    border: solid;
    padding: 10px;
    margin-left: 30px;
    background-color: beige;
    border-radius: 10px;
    
}
#timid h1{
font-size: 60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
padding-top: 100px;
padding-left: 150px;
}
#timid p{
    font-size: 20px;
    padding-left: 150px;
    padding-top: 5px;
    color: rgba(49, 49, 49, 0.582);
     
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
}
button:hover{
    background-color: beige;
    color: black;
    transition: 5s;
    cursor: progress;
}
#hit{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 40px;
}
#new{
    display: flex;
    background-color: rgb(210, 161, 243);
    padding-bottom: 20px;
    margin-left: -1%;
    margin-right: -1%;
}
.not{
    color: black;
    text-align: center;
    font-size: 50px;
    transition: none;
}
.mine{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.step{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.start{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 40px;
    cursor: progress;
}
.set{
    display: flex;
}
.lead{
    padding-left: 150px;
}
.count{
    font-size: 20px;
}
.smile{
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
}
input{
    margin: 6px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#silent{
    margin-left: 45%;
}
#submit{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20%;
    margin: 10px;
}

.dept{
    background-color: black;
    color: white;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 20px;
    margin-top: 30px;
}

    

